@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: 'Ubuntu';
   font-style: normal;
   font-weight: 500;
   font-display: swap;
   src: url(/src/font/ubuntu/Ubuntu-Regular.ttf);
}

body {
   font-family: "Ubuntu";
   background: #EFF5FF;
}

.h-100 {
   height: 35rem;
}
.special-label{
   display: none;
}
.form-control{
   width: 100%;
   background: #EFF5FF;
   outline: none;
   --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
   --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
   box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
   --tw-text-opacity: 1;
   color: rgb(55 65 81 / var(--tw-text-opacity));
   padding: 0.5rem 0.75rem;
   border: 1px solid;
   border-radius: 0.25rem;
   border-color: hsl(0, 0%, 80%);
   background: white;
}
.active{
   background: #BEE2FD;
   border: 1px solid transparent;
}
.active > span{
   color: black;
}
.select-list:hover{
   background: #F8F9FF;
   border: 2px solid #483EFF;
   transition: all 0.2s ease;
}
.mt-30{
   margin-top: 7.7rem;
}
@media screen and (max-width:640px) {
   .sm-width{
      width: 95% !important;
   }
}